body{
    font-family:arial, sans-serif;
    background-color: #ccc;
    margin:0px;
}
.capa nav ul{
    text-align: right;
    margin:5px 20px 0 0;
}
.capa nav li{
    display: inline-block;
    list-style:none;
    border: 1px solid white;
    margin-left: 10px;
    
}
.capa-content p {
    background-color:rgba(0,0,0,0.8);
    display: inline-block;
    padding: 10px;
    border-bottom: 2px solid white;
}
.card{
    width:33%;
    box-sizing: border-box;
    float: left;
}
.card-1, .card-2{
    margin-right:5px;
}
.card p{
    background-color:rgb(110, 101, 101);
    color:white;
    padding:15px;
    margin: 0px;
    letter-spacing: 2px;
}
.card img{
    width:100%;
    /*display:block; > para o espaço da iamgem com o paragráfo!*/
}

.content-principal{
    padding:10px;
    margin: 15px;
    background-color:white;
    overflow: auto;
}
.capa nav a{
    background-color: black;
   /* background-color: rgb(0,0,0);
    background-color: rgba(0,0,255,0.4);*/
    display: block;
    padding: 10px;
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-size:13px;
    letter-spacing: 2px;

}
.capa nav a:hover{
    background-color: rgb(114, 106, 101);
}
.capa{
    background-image: url("imagens/bg-3.jpg");
    height: 500px;
    background-position:right, center;
    background-size: cover;
    border-top:15px solid transparent;
}
.capa-content{
   color:white;
   text-align:center;
   margin-top: 150px;
}
.capa-content h1{
    font-size:46px;
    text-transform: uppercase;
    text-shadow: 5px 5px 2px #333;
}
main{
    width:80%;
    margin: auto;
}
.conteudo-h2{    
    border-bottom: solid 2px #ccc;
    background-color: #eee;
    padding: 10px;
    
}
.conteudo-h2{
    margin: 0;
}
footer{
    text-align:center;
    background-color:#6b6c68;
    color:white;
    height: 80px;
    text-shadow: 5px 5px 5px black;
    line-height: 80px;
    font-size:14px;

    
   /* eu coloquei os 2 primeiros
   margin-top:15px;    
    padding-top: 5px;
    padding-bottom: 5px;*/

    
}
/**codigo usado pelo professor!
.rodape{
    height: 80px;
	color: white;
	font-size: 14px;
	text-align: center;
	text-shadow: 2px 2px 2px black;
	background: #6b6c68;
    line-height: 80px;
}

*/